:root {
	--heading-font: 'Quicksand', -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--main-font: 'Mulish', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	--heading-line-height: 1.3;
	--body-line-height: 1.7;
	--fweight-bold: 700;
	--fweight-semibold: 600;
	--fweight-normal: normal;

	--grey-100: #f2f2f7;
	--grey-200: #ebebf0;
	--grey-300: #e5e5ea;

	--grey-400: #8b8e93;
	--grey-500: #51555c;
	--grey-600: #1f2533;
	--grey-700: #191f2a;
	--grey-800: #171c26;
	--grey-900: #151922;
	--grey-rgba: #15192280;

	--blue-100: #77c8ff;
	--blue-200: #55baff;
	--blue-300: #36aeff;
	--blue-400: #1aa3ff;
	--blue-500: #0099ff;
	--blue-600: #008ae6;
	--blue-700: #007ccf;
	--blue-800: #0070ba;
	--blue-900: #0099ff80;

	--purple-100: #e8d6ff;
	--purple-200: #d4b3ff;
	--purple-300: #c293ff;
	--purple-400: #b175ff;
	--purple-500: #a259ff;
	--purple-600: #933dff;
	--purple-700: #8524ff;
	--purple-800: #780dff;
	--purple-900: #a259ff80;

	--alert: #ff375f;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
body {
	font-family: var(--main-font);
	background-color: var(--grey-900);
	color: var(--grey-200);
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
	margin: 0;
}

.main {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	background-image: linear-gradient(
		to bottom,
		var(--blue-900),
		var(--grey-rgba)
	);
}

.form {
	padding: 1rem;
	border-radius: 0.4rem;
}
.form__container {
	padding: 1rem;
	border-radius: 0.4rem;
	width: 100%;
	transition: width 0.5s;

	background-image: linear-gradient(
		to bottom,
		var(--blue-900),
		var(--grey-rgba)
	);
}
@media screen and (min-width: 768px) {
	.form__container {
		width: 70%;
	}
}
@media screen and (min-width: 1024px) {
	.form__container {
		width: 40%;
	}
}

.form__header {
	text-align: center;
}
.message-error {
	display: block;
	text-align: center;
}
.alert {
	margin-bottom: 1rem;
	color: var(--alert);
}
.form__field {
	margin-bottom: 1rem;
}
.form__field:last-child {
	margin-bottom: 0;
}
.form__input {
	padding: 0.5rem 1rem;
	border-radius: 0.4rem;
	width: 100%;
}

input,
button {
	display: block;
	border: none;
	outline: none;
	font-family: inherit;
}
.button {
	font-size: inherit;
	padding: 0.5em 1.2em;
	border-radius: 0.4rem;
	cursor: pointer;
	color: var(--grey-300);
	margin-left: auto;
	margin-right: auto;
	background-image: var(--gradiendt-btn);
	transition: transform 0.5s;

	background-image: linear-gradient(
		to right,
		var(--purple-900),
		var(--blue-900)
	);
	background-color: var(--blue-800);
}
.button:hover {
	background-image: linear-gradient(
		to left,
		var(--purple-900),
		var(--blue-900)
	);
	background-color: var(--blue-800);
}
.button:active {
	transform: scale(0.98);
}
